
    <header class="flex justify-between items-center p-7">
      <!-- Logo -->
      <div class=" w-">
        <img src="assets/Image/logo.jpg" alt="logo" class="h-20 w-auto">
      </div>
  
      <!-- Navigation Menu -->
      <nav>
        <ul class="flex gap-10 text-lg list-none pr-20">
          <li><a href="/" class="hover:text-[#645F80]">Home</a></li>
          <li><a href="#" (click)="scrollTo('about')" class="hover:text-[#645F80]">About</a></li>
          <li><a  href="#" (click)="scrollTo('projects')">Projects</a></li>
          <li><a  href="#" (click)="scrollTo('contact')" class="hover:text-[#645F80]">Contact</a></li>
        </ul>
      </nav>
    </header>

   
    
    
