<section class="w-full h-full bg-[#2B4057] text-white py-16 px-4  md:px-24">
    <!-- Title -->
    <h1 class="text-3xl font-bold text-center mb-12">Educations & Experience</h1>
  
    <div class="flex flex-col py-16 md:flex-row justify-between gap-20">
      <!-- Left: Education -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-semibold mb-1">Education:</h2>
        <hr class="border-white mb-6 w-3/4">
  
        <div class="mb-12">
          <p class="text-[10px] leading-3">2020</p>
          <h3 class="text-xl font-bold leading-tight">bachelor physique</h3>
          <p class="text-sm">Ibn Hazm</p>
        </div>
  
        <div>
          <p class="text-[10px] leading-3">2020</p>
          <h3 class="text-xl font-bold leading-tight">Interior Architect</h3>
          <p class="text-sm">FST settat</p>
        </div>
      </div>
  
      <!-- Right: Experience -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-semibold mb-1">Experience:</h2>
        <hr class="border-white mb-6 w-3/4">
  
        
        <!-- Entry 1 -->
        <div class="mb-8">
          <p class="text-[10px] leading-3">mai 2023 - mars</p>
          <h3 class="text-xl font-bold leading-tight">freelancer interior Architect</h3>
        </div>
        
         <!-- Entry 2 -->
         <div class="mb-8">
            <p class="text-[10px] leading-3">mai 2024 - present</p>
            <h3 class="text-xl font-bold leading-tight">Interior Architect</h3>
            <p class="text-sm text-[#5f5f5f]">Maison jawhar chamal</p>
          </div>
    
  
        <!-- Entry 2 -->
        <div class="mb-8">
          <p class="text-[10px] leading-3">mai 2024 - Mars 2025</p>
          <h3 class="text-xl font-bold leading-tight">Interior Architect</h3>
          <p class="text-sm text-[#5f5f5f]">Njarcom</p>
        </div>
  
        <!-- Entry 3 -->
        <div class="mb-8">
          <p class="text-[10px] leading-3">January 2024 - mai 2024</p>
          <h3 class="text-xl font-bold leading-tight">Interior Architect</h3>
          <p class="text-sm text-[#5f5f5f]">Deco shop tahiri</p>
        </div>
  
        <!-- Entry 4 -->
        <div>
          <p class="text-[10px] leading-3">August 2023 - January 2024</p>
          <h3 class="text-xl font-bold leading-tight">Interior architect</h3>
          <p class="text-sm text-[#5f5f5f]">BZ concept</p>
        </div>
      </div>
    </div>
  </section>
  