<!-- Services Section -->
<section class="py-12 px-4 max-w-6xl mx-auto">
    <h1 class="text-3xl font-normal text-center mb-12 text-[#645F80]">Services I Offer</h1>
  
    <!-- Flex Container -->
    <div class="flex flex-wrap justify-center justify-between">
      
      <!-- Service Card -->
<div data-aos="fade-up" data-aos-duration="3000" class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
    <img src="assets/Image/palette.png" alt="Architectural Blueprints" class="h-24 w-24 mb-4">
    <h3 class="text-lg font-semibold text-center mb-2">Architectural Blueprints</h3>
    <p class="text-gray-700 text-center">
      Create precise and detailed architectural blueprints for your construction projects. Our plans ensure compliance with building codes and provide comprehensive goals for contractors.
    </p>
  </div>
  
      <!-- Service Card 2 -->
      <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class=" service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
        <img src="assets/Image/bathroom.png" alt="Interior Floor Planning" class="h-24 w-24 mb-4">
        <h3 class="  text-lg font-semibold text-center mb-2">Interior Floor Planning</h3>
        <p class="text-gray-700 text-center">
          Design the perfect layout for your interior spaces with our floor planning services. We prioritize functionality and aesthetic appeal for every room.
        </p>
      </div>
  
      <!-- Service Card 3 -->
      <div data-aos="fade-up" data-aos-duration="3000"  class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
        <img src="assets/Image/3d.png" alt="3D Design Concepts" class="h-24 w-24 mb-4">
        <h3 class="text-lg font-semibold text-center mb-2">3D Design Concepts</h3>
        <p class="text-gray-700 text-center">
          Visualize your projects with stunning 3D renderings. Our concepts showcase realistic views of spaces, materials, and finishes to aid decision-making.
        </p>
      </div>
  
      <!-- Service Card 4 -->
      <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
        <img src="assets/Image/2d.png" alt="2D Drawings" class="h-24 w-24 mb-4">
        <h3 class="text-lg font-semibold text-center mb-2">2D Drawings</h3>
        <p class="text-gray-700 text-center">
          Get accurate and detailed 2D drawings including scaled plans, sections, and elevations to clearly communicate your ideas.
        </p>
      </div>
  
    </div>
  </section>
  